.page-enter {
  opacity: 0;
}
.page-enter-active {
  transition: opacity 0.5s;
}
.page-leave-active {
  transition: opacity 0.5s;
}
.page-leave-to {
  opacity: 0;
}
.slide-left-enter,
.slide-right-leave-active,
.slide-left-leave-active,
.slide-right-enter {
  transition: all 1s ease-in;
}
.slide-left-enter,
.slide-right-leave-active {
  transform: translate(300px, 0);
}
.slide-left-leave-active,
.slide-right-enter {
  transform: translate(-300px, 0);
}
.slide-enter {
  transform: translateX(1280px);
  opacity: 0;
}
.slide-enter-active {
  transition: 0.5s;
}
/* .slide-enter-to {
}
.slide-leave {
} */
.slide-leave-active {
  transition: 0.5s;
}
.slide-leave-to {
  transform: translateX(-1280px);
}
